<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <mapper namespace="com.docmall.mapper.UserProductMapper">
   
   <!-- CDATA 섹션(xml에 문법사용가능하게 함) -->
   <select id="pro_list" resultType="com.docmall.domain.ProductVO" parameterType="map">
   <![CDATA[
   select 
      PRO_NUM, CG_CODE, PRO_NAME, PRO_PRICE, PRO_DISCOUNT, PRO_PUBLISHER, PRO_CONTENT, PRO_UP_FOLDER, PRO_IMG, PRO_AMOUNT, PRO_BUY, PRO_DATE, PRO_UPDATEDATE
   from 
      (
      select/*+INDEX_DESC(PRODUCT_TBL pk_pro_num)*/
            rownum rn, PRO_NUM, CG_CODE, PRO_NAME, PRO_PRICE, PRO_DISCOUNT, PRO_PUBLISHER, PRO_CONTENT, PRO_UP_FOLDER, PRO_IMG, PRO_AMOUNT, PRO_BUY, PRO_DATE, PRO_UPDATEDATE
      from 
            PRODUCT_TBL   
      where 
         cg_code = #{cg_code}
      AND
         rownum <= #{cri.pageNum} * #{cri.amount}
      )
      where
         rn > (#{cri.pageNum} -1) * #{cri.amount} 
       ]]>
   </select>
   
   <select id="getTotalCount" resultType="int">
      SELECT 
         COUNT(*) 
      FROM 
         PRODUCT_TBL
      WHERE
          cg_code = #{cg_code}
   </select>
   
   <select id="pro_detail" parameterType="Integer" resultType="com.docmall.domain.ProductVO">

		SELECT
			PRO_NUM, CG_CODE, PRO_NAME, PRO_PRICE, PRO_DISCOUNT, PRO_PUBLISHER, PRO_CONTENT, PRO_UP_FOLDER, PRO_IMG, PRO_AMOUNT, PRO_BUY, PRO_DATE, PRO_UPDATEDATE
		FROM
			PRODUCT_TBL
		WHERE
			PRO_NUM = #{pro_num}
		
   </select>
   
   </mapper>